.kontakt-container {
  background-color: #f3ede7;
  padding: 3rem 1rem;
  font-family: "Chivo", sans-serif;
  color: #111;
  text-align: center;
}

.linija-lj-forma {
  margin-bottom: 3rem;
}

.kontakt-info-text {
  max-width: 1000px;
  margin: 0 auto 2rem;
  font-size: 0.95rem;
  line-height: 1.6;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.kontakt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kontakt-levo p {
  margin-bottom: 1.1rem;
}

.kontakt-levo {
  font-style: italic;
  font-size: 1.2rem;
  line-height: 0.7;
  margin-bottom: 3rem;
}

.kontakt-forma {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  /* max-width: 400px; */
}

.kontakt-forma input,
.kontakt-forma textarea {
  padding: 0.8rem 1rem;
  border-radius: 8px;
  border: none;
  background-color: #dedddd;
  font-size: 0.95rem;
  font-family: inherit;
  resize: none;
}

.kontakt-forma textarea {
  min-height: 170px;
}

.kontakt-forma button {
  background-color: #b32374;
  color: white;
  font-weight: bold;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 9999px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.kontakt-forma button:hover {
  background-color: #9b1e66;
}

.success-message {
  margin-top: 0.5rem;
  color: green;
  font-size: 0.9rem;
}

/* Responsive */
@media (min-width: 768px) {
  .kontakt-content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
  }

  .kontakt-levo,
  .kontakt-forma {
    max-width: 400px;
    width: 100%;
  }

  .kontakt-levo {
    text-align: right; /* 🔁 poravnaj tekst ka desno */
    align-items: flex-end; /* samo ako je display: flex; u suprotnom ignoriši ovo */
    margin-left: -5.5rem;
    font-size: 2.1rem;
    line-height: 1;
  }

  .kontakt-info-text {
    font-size: 1.5rem;
  }

  .kontakt-forma {
    align-items: flex-start;
  }

  .kontakt-forma input,
  .kontakt-forma textarea {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    width: 35rem;
  }

  .kontakt-forma textarea {
    min-height: 200px; /* ili koliko ti treba */
    min-width: 400px;
  }

  .kontakt-forma button {
    font-size: 1.5rem;
    width: 20rem;
  }
}
