.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: 300px;
  border-radius: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.galerijah4 {
  font-size: 3rem;
}

.isprekidana-linija-lj {
  width: 71.5%;
}

/* Responzivno ponašanje */
@media (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gallery {
    grid-template-columns: 1fr;
  }

  .galerijah4 {
    font-size: 2rem;
  }
}
