.container-22 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 65vw;

  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 20px;
}

.gallery img {
  width: 100%;
  height: auto; /* Promenjeno sa fiksne visine */
  aspect-ratio: 1/1; /* Osigurava kvadratni oblik */
  object-fit: cover; /* Osigurava da slika popuni prostor bez gubitka proporcija */
  border-radius: 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.galerijah4 {
  font-size: 3rem;
}

.isprekidana-linija-lj {
  width: 96.5%;
}

/* Responzivno ponašanje */
@media (max-width: 1024px) {
  .container-22 {
    width: 90vw;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .galerijah4 {
    font-size: 2rem;
  }
  .isprekidana-linija-lj {
    width: 85%;
  }
}
