/* Animacija */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.logos-slide {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
}

.logos-slide img {
  display: inline-block;
  height: 230px;
  margin: 0 26px;
  filter: grayscale(1); /* Podrazumevano sivi logoi */
  transition: filter 0.3s ease;
}

.logos-slide img:hover {
  filter: grayscale(0); /* Boja na hover */
}
