/* -------------------
   Navbar Styles
------------------- */

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  height: 127px;
  background-image: url("/background-nav.png");
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  z-index: 999;
  font-size: 1.5rem;
}

.nav-left,
.nav-right {
  display: flex;
  gap: 150px;
  list-style: none;
  padding: 4rem;
  align-items: center;
  margin-top: -2rem;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: white;
}

.nav-left a:hover,
.nav-right a:hover {
  border-bottom: 2px solid #d7bd7a;
  padding-bottom: 3px;
}

/* Hamburger */
.hamburger {
  display: none;
  cursor: pointer;
  background: transparent;
  width: 30px;
  height: 20px;
  position: relative;
  z-index: 1000;
}

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #f3ede7;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

/* Hamburger animation */
.hamburger.active span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

.frenki {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 280px;
  border: #111;
}

/* Mobile menu */
.mobile-menu {
  display: none;
}

/* ========================================================= */

@media (max-width: 930px) {
  .navbar {
    background-image: none;
    background-color: rgba(32, 32, 32, 1);
    height: 70px;
    justify-content: space-between;
  }

  .nav-left,
  .nav-right {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .mobile-menu {
    display: flex;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    list-style: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-150%);
    transition: transform 0.4s ease;
    border-radius: 0 0 10px 10px;
    z-index: 998;
  }

  .mobile-menu.active {
    transform: translateY(0);
  }

  .mobile-menu a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
  }

  .mobile-menu a:hover {
    color: #1c545d;
  }
}

@media (max-width: 1475px) {
  .frenki {
    width: 200px;
  }
}

@media (max-width: 1375px) {
  .frenki {
    width: 150px;
  }
}

@media (max-width: 1309px) {
  .frenki {
    display: none;
  }
}

.nav-mobile-layout {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 0 20px;
}

.mobile-logo {
  display: none;
}

@media (max-width: 930px) {
  .nav-left,
  .nav-right {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .nav-mobile-layout {
    display: flex;
  }

  .mobile-logo {
    display: block;
    height: 40px;
  }
}

@media (max-width: 768px) {
  .navbar {
    width: 100vw;
    /* border-radius: 0; */
  }
  .left-ear,
  .right-ear {
    display: none;
  }
}

/* Shared NavLink styles */
.nav-link {
  text-decoration: none;
  color: white;
}

.nav-link:hover {
  border-bottom: 2px solid #d7bd7a;
  padding-bottom: 3px;
}

.nav-link.active {
  border-bottom: 2px solid #d7bd7a;
  padding-bottom: 3px;
}

/* Mobile menu specific */
.mobile-menu .nav-link {
  color: #111;
  text-decoration: none;
}

.mobile-menu .nav-link.active {
  color: #d7bd7a;
}

@media (min-width: 2500px) {
  .nav-left,
  .nav-right {
    margin-top: 0;
  }
}
