.values-section {
  background-image: url("/af.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 569px;
  position: relative;
  overflow: hidden;
}

.values-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1200px;
  width: 90%;
  color: white;
  touch-action: pan-y;
}

.value-box {
  flex: 1 1 200px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.3s ease;
}

.value-box img {
  width: 10rem;
  margin-bottom: 20px;
}

.value-box h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.value-box p {
  font-size: 1rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .values-section {
    background-image: url("/afm.png");
  }
  .values-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 80%;
  }

  .arrow-button-a4 {
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
  }

  .arrow-button-a4.prev {
    left: 5px;
  }

  .arrow-button-a4.next {
    right: 5px;
  }

  .value-box {
    max-width: 100%;
    flex: none;
    width: 100%;
  }
}

.arrow-img {
  width: 24px; /* ili bilo koju drugu veličinu po želji */
  height: auto;
  filter: brightness(0) invert(1);
}

@media (min-width: 2500px) {
  .values-section {
    height: 780px;
  }
}

@media (min-width: 3700px) {
  .values-section {
    height: 1200px;
  }
  .values-content {
    max-width: none;
    width: 80vw;
    margin: 0;
    gap: 100px;
  }
  .value-box {
    max-width: 500px; /* ili više */
    flex: 1 1 400px; /* dozvoli im da budu širi */
  }
  .value-box h3 {
    font-size: 2.5rem;
  }

  .value-box p {
    font-size: 2rem;
    line-height: 1.5;
  }
}
